body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  background: rgba(0,0,0, 0.9);
}

/*REDO STYLING FOR HEADING*/
h1{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
}

.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.heading *{
  margin: 0.5rem;
}

span{
  color: red;
}

select{
  padding: 0.25rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
}

select:focus{
  outline: none;
}

.stats-card{
  width: 100%;
  display: flex;
  justify-content: center;
}

table{
  width: 80%;
  max-width: 900px;
  border-collapse: collapse;
  border: 1px solid red;
  color: #fff;
}

th{
  border: 1px solid red;
  color: #fff;
}

td{
  border: 1px solid red;
}

.drive-standings{

}

@media(max-width: 767px){

.heading{
  flex-direction: column;
}
  table{
    width: 90%;
  }
}
